footer .container {
    padding-bottom: 105px;
}

footer .container .content {
    justify-content: center;
}

footer .container .content p {
    text-align: center;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    width: 380px;
    line-height: 1.6;
}