header .head-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/bg1.jpg');
    height: 600px;
    position: relative;
    overflow: hidden;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    padding-top: 32px;
}

header .head-container .header-title {
    background-color: white;
    position: relative;
    width: 100%;
}

header .head-container .header-title .header-content {
    padding: 0 200px;
    z-index: 1;
}

header .head-container .header-title .header-content .logo p {
    font-size: 36px;
}


.logo .light-font {
    font-family: 'Roboto-Light';
    color: #394E57;
}

.logo .bold-font {
    font-family: 'Roboto-Black';
    color: #00B0CC;
}

header .head-container .header-title .header-content .navigation-links {
    gap: 56px;
}

header .head-container .header-title .header-content .navigation-links a {
    text-decoration: none;
    color: #344B4D;
    font-size: 15px;
    font-family: 'OpenSans-Bold';
}

header .head-container .header-title .header-content .navigation-links a:hover {
    color: #00B0CC;
}

header .head-container .header-main {
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .head-container .header-main p {
    font-family: 'Futura-BT-Bold';
    font-size: 52px;
    color: white;
}

header .content {
    position: absolute;
    width: 100%;
    height: calc(100% - 32px);
    top: 32px;
    flex-direction: column;
}